@media only screen and (min-width: 60em){
    header img {
		width: 100%;
	}

    .headings h1 {
		font-size: 3rem;
	}
    
    /* Flex */
	nav ul { 
        display: flex; 
    }

	nav ul li { 
        flex: 1 1 100%; 
    }

    nav a:hover {
        --d: 75%;
        text-decoration: none;
    }

    /* Hero Banner */
    .contentbox.hero{
        background-color: transparent;
        border: none;
        margin: 10px auto; 
        position: relative;
        justify-content: center;
    }


    .contentbox.hero img{
        width: unset;
        max-width: 1200px;
        height: 100%;
    }

    .contentbox.hero.soda img{
        width: 1200px;
        height: 400px;
    }

    /* Stats */
    .contentbox.hero .stats {
        position: absolute;
        top: 45px;
        right: 700px;
    }

    .contentbox.hero .stats h2 {
        padding-bottom: 0;
        margin: 0;
    }

    .contentbox.hero .stats hr {
        border: 1px solid black;
    }

    .contentbox.hero .stats p {
        text-align: left;
        margin: 10px;
        font-size: 18px;
    }

    /* Forecast Table */
    .contentbox.forecast {
        background-color: transparent;
        border: none;
        display: block;
    }

    .contentbox.forecast.table{
        display: flex;
        justify-content: center;
        border: none;
    }

    .col-head,th {
        font-weight: 700;
        font-size: 1rem;
        background-color: #8cdffc;
    }

    table,th,td {
        border: thin solid #333;
        border-collapse: collapse;
        padding: 30px;
    }

    td {
        background-color: white;
        font-size: 0.8rem;
        text-align: center;
    }

    /* Add */
    .contentbox.add.home {
        background: radial-gradient(rgb(238, 238, 238), #eebc43);
        display: block;
        width: 95%;
    }

    .contentbox.add.home h2 {
        text-align: left;
    }

    .contentbox.add.home h3 {
        padding-left: 0.5rem;
        color: #3c687c;
        font-style: italic;
    }

    .contentbox.add.home img {
        max-width: 400px;
        float: right; 
        margin: 10px;
        box-shadow: 0 0 30px #333;
    }

    .contentbox.add.home p {
        text-align: justify;
        font-size: 20px;
    }

    /* Storm Center Form  */
    form label.personal, form label.report, form div {
		display: inline-flex;
		padding-right: 30px;
		flex-wrap: wrap;
	}

    /* Contact Section */
    .contentbox.contact {
        background: radial-gradient(rgb(238, 238, 238), #3c747c);
        height: 390px;
    }

    .contentbox.contact .map {
        display: block;
        max-width: 450px;
        border: solid 1px;
        float: left;
        margin: 10px 150px 10px 10px;
    }

    .contentbox.contact .info {
        display: block;
        padding: 25px;
        margin: 55px 0px 0px 0px;
    }

    .contentbox.contact .info img{
        max-width: 30px;
    }

    /* Gallery */
    .container {
        margin: 1rem auto; 
        display:grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        max-width: 1048px;
    }

    .container img { 
        width: 250px; 
        height: 146px; 
        margin: .5rem;
    }

    .container figure:hover { 
        box-shadow: 0 0 40px #333;
    }

    /* Homepage Content */
    div.cards {
        display: grid;
        margin: auto;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
    }

    div.cards section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 500px;
    }

    div.cards h2 h3 p {
        text-align: center;
    }

    div.cards section:nth-child(even) {
		flex-direction: column;
	}
    
    section img{
        width: 90%;
        height: 200px;
    }

    /* Home Events */
    div.town-events .events-content{
        display: grid;
        margin: auto;
        width: 55%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 35px;
    }

    div.town-events .events-content section{
        max-width: 400px;
    }

    div.town-events.locations .events-content section{
        max-width: 52%;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    @media only screen and (max-width: 1669px){
        div.town-events .events-content {
            width: 65%;
        }
        div.town-events.locations .events-content section{
            width: 85%;
        }
    }

    @media only screen and (max-width: 1508px){
        div.town-events .events-content {
            width: 75%;
        }

        div.town-events.locations .events-content section{
            width: 85%;
        }
    }
    
    @media only screen and (max-width: 1269px){
        div.town-events .events-content {
            width: 85%;
        }
        div.town-events.locations .events-content section{
            width: 85%;
        }
    }

    @media only screen and (max-width: 1060px){
        div.town-events .events-content {
            width: 100%;
        }
        
        div.town-events.locations .events-content section{
            width: 85%;
        }
    }
}