@media only screen and (min-width: 32.5em){
    header img {
		width: 100%;
	}

    .headings h1 {
		font-size: 3rem;
	}

    /* Flex */
	.navigation {
		display: flex;
	}

	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}

	.navigation a {
		text-align: center;
	}

	.navigation li:first-child {
		display: none;
	}

	nav a:hover {
		--d: 75%;
		text-decoration: none;
	}

	.contentbox.first-half {
		display: grid;
		grid-template-columns: 1fr;
		background-color: transparent;
		border: none;
	}

	.contentbox.second-half {
		display: grid;
		grid-template-columns: 1fr;
		background-color: transparent;
		border: none;
	}

	.contentbox.weather {
		width: 95%;
        background-color: transparent;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-items: center;
	}

	.contentbox.purpose .purpose-content img {
        width: 450px;
        margin: 10px;
        box-shadow: 0 0 30px #333;
    }

	/* Hero Banner */
	.contentbox.hero{
		background-color: transparent;
		border: none;
		margin: 10px auto; 
		display: flex;
	}

	.contentbox.hero img{
		max-width: 1000px;
		height: 100%;
		width: 100%;
	}

	/* Stats */
	.contentbox .stats {
		display: block;
		width: 80%;
	}

	.contentbox .stats h2 {
		padding-bottom: 10px;
		margin: 5px;
	}

	.contentbox .stats hr {
		border: 1px solid black;
	}

	.contentbox .stats p {
		text-align: left;
		font-size: 16px;
	}

	/* Forecast Table */
	.contentbox.forecast {
		background-color: transparent;
		border: none;
		display: block;
	}

	.contentbox.forecast.table{
		display: flex;
		justify-content: center;
		border: none;
	}

	.col-head,th {
		font-weight: 700;
		font-size: 1rem;
		background-color: #8cdffc;
	}

	table,th,td {
		border: thin solid #333;
		border-collapse: collapse;
		padding: 20px;
	}

	td {
		background-color: white;
		font-size: 0.8rem;
		text-align: center;
	}

	/* Form */

	form label.personal, form label.report, form div {
		display: block;
	}
	form label.personal input, form label.personal select, form label.report input, form label.report select {
		width: 110%;
	}


	.form-group {
		width: 500px;
		display: block;
	}
	
	#inputStreet input{
		width: 91.5%;
	}
	
	#inputCity input{
		width: 40%;
	}
	
	#inputState input {
		width: 17%;
	}
	
	#inputZip input{
		width: 22%;
	}
	
	#inputCounty input{
		width: 40%;
	}
	
	#inputCountry input{
		width: 45%;
	}

	div.danger {
		display: block;
	}

	/* Contact Section */
	.contentbox.contact {
		height: 390px;
	}

	.contentbox.contact .map {
		display: flex;
		max-width: 350px;
		border: solid 1px;
		max-height: 350px;
		float: left;
	}

	.contentbox.contact .info {
		display: flex;
		margin: 0;
	}

	.contentbox.contact .info img{
		display: block;
		max-width: 30px;
	}

	.contentbox.contact .social {
		display: flex;
	}

	.contentbox.contact-us-page {
		grid-template-columns: 1fr;
	}

	/* Gallery */
	.container {
        margin: 1rem auto; 
        display:grid; 
        grid-template-columns: 1fr 1fr; 
        max-width: 1048px;
    }

	/* Homepage Cards */
	div.cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

	/* HomeEvents */
	div.town-events .events-content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

	div.town-events.locations .events-content section{
		width: 55%;
	}
}