@media only screen and (min-width: 32.5em){
    header img {
		width: 100%;
	}

    .headings h1 {
		font-size: 3rem;
	}

    /* Flex */
	.navigation {
		display: flex;
	}

	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}

	.navigation a {
		text-align: center;
	}

	.navigation li:first-child {
		display: none;
	}

	nav a:hover {
		--d: 75%;
		text-decoration: none;
	}

	/* Hero Banner */
	.contentbox.hero{
		background-color: transparent;
		border: none;
		margin: 10px auto; 
		display: flex;
	}

	.contentbox.hero img{
		max-width: 1000px;
		height: 100%;
		width: 100%;
	}

	/* Hero Text */
	/* #smallText, #largeText{
        display: none;
    }

    #mediumText{
		display: block;
        position: absolute;
        top: 25px;
        left: 500px;
        float: right;
        color: red;
        margin-right: 25px;
        margin-top: 25px;
        font-size: 30px;
    } */

	/* Stats */
	.contentbox.hero .stats {
		display: block;
		top: 45px;
		right: 400px;
		padding: 0.9rem;
	}

	.contentbox.hero .stats h2 {
		padding-bottom: 0;
		margin: 0;
	}

	.contentbox.hero .stats hr {
		border: 1px solid black;
	}

	.contentbox.hero .stats p {
		text-align: left;
		font-size: 14px;
	}

	/* Forecast Table */
	.contentbox.forecast {
		background-color: transparent;
		border: none;
		display: block;
	}

	.contentbox.forecast.table{
		display: flex;
		justify-content: center;
		border: none;
	}

	.col-head,th {
		font-weight: 700;
		font-size: 1rem;
		background-color: #8cdffc;
	}

	table,th,td {
		border: thin solid #333;
		border-collapse: collapse;
		padding: 20px;
	}

	td {
		background-color: white;
		font-size: 0.8rem;
		text-align: center;
	}

	/* Article */
	.contentbox.article {
		background: radial-gradient(rgb(238, 238, 238), #eebc43);
		display: block;
	}

	.contentbox.article h2 {
		text-align: left;
	}

	.contentbox.article h3 {
		padding-left: 0.5rem;
		color: #3c687c;
		font-style: italic;
	}

	.contentbox.article img {
		max-width: 400px;
		float: right; 
		margin: 10px;
		box-shadow: 0 0 30px #333;
	}

	.contentbox.article p {
		text-align: justify;
		font-size: 20px;
	}

	/* Form */

	form label.personal, form label.report, form div {
		display: block;
	}
	form label.personal input, form label.personal select, form label.report input, form label.report select {
		width: 110%;
	}

	div.danger {
		display: block;
	}

	/* Contact Section */
	.contentbox.contact {
		background: radial-gradient(rgb(238, 238, 238), #3c747c);
		height: 390px;
	}

	.contentbox.contact .map {
		display: flex;
		max-width: 350px;
		border: solid 1px;
		float: left;
	}

	.contentbox.contact .info {
		display: flex;
		margin: 0;
	}

	.contentbox.contact .info img{
		display: block;
		max-width: 30px;
	}

	.contentbox.contact .social {
		display: flex;
	}

	/* Gallery */
	.container {
        margin: 1rem auto; 
        display:grid; 
        grid-template-columns: 1fr 1fr; 
        max-width: 1048px;
    }

	/* Homepage Cards */
	div.cards {
        display: grid;
        grid-template-columns: 1fr;
		max-width: 100%;
    }

	div.cards section {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: stretch;
	}

	div.cards section:nth-child(even) {
		flex-direction: row-reverse;
	}

	div.cards section .sectionText {
		padding: 15px;
	}

	div.cards section .sectionText h3{
		font-size: 13px;
		text-align: center;
	}

	div.cards img {
		margin: 1rem;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	
	section img{
		width: 45%;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	}

	/* HomeEvents */
	div.town-events .events-content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

	div.town-events.locations .events-content section{
		width: 55%;
	}
}